projekcik.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="anime">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="nazwa_anime">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="Your_Name">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="opis">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="gatunek">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="zalecany_odb">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="odb" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="gatunek" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ile_odc">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="odc" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="pierwowzór">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="pierw" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="tekst" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="Akira">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="opis">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="gatunek">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="zalecany_odb">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="odb" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="gatunek" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ile_odc">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="odc" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="pierwowzór">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="pierw" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="tekst" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="One_Piece">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="opis">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="gatunek">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="zalecany_odb">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="odb" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="gatunek" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ile_odc">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="odc" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="pierwowzór">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="pierw" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="tekst" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="Death_Note">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="opis">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="gatunek">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="zalecany_odb">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="odb" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="gatunek" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ile_odc">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="odc" type="xs:unsignedByte" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="pierwowzór">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="pierw" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="tekst" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" name="Naruto">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="opis">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="gatunek">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="zalecany_odb">
																	<xs:complexType>
																		<xs:simpleContent>
																			<xs:extension base="xs:string">
																				<xs:attribute name="odb" type="xs:string" use="required" />
																			</xs:extension>
																		</xs:simpleContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="gatunek" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element name="ile_odc">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="odc" type="xs:unsignedShort" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="pierwowzór">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="pierw" type="xs:string" use="required" />
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="tekst" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="nazwa" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="links">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="link">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="source" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="media">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="image">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="source" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>